{% extends "layout.html" %}

{% block body %}
<!-- Header -->
<header class="w3-container">
    <h5><b><i class="fa fa-dashboard"></i> Recent Activity</b></h5>
</header>

<div style="height: 300px; overflow: scroll;">
    <div class="w3-row-padding w3-margin-bottom">
        {% for note in notes %}
            <div class="w3-quarter">
                <div class="w3-container" style="padding:5px; background-color:{{note.color}};">
                    <div class="w3-left"><h5>{{note.label}}</h5></div>
                    <div class="w3-right">
                        <h5>{{note.time.strftime("%H:%M")}}</h5>
                    </div>
                    <div class="w3-clear"></div>
                    {{note.notes}}
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>

<header class="w3-container">
    <h5><b>Quick Add</b></h5>
    <div style="display: flex; flex-wrap: wrap;">
        {% for note_type in note_types %}
            <a href="\quick_add\{{note_type.id}}" style="margin: 10px;"><button type="button" style="background-color: {{note_type.color}}; border-radius: 5px;" class="btn">{{note_type.label}}</button></a>
        {% endfor %}
        <a href="\" style="margin: 10px;"><button type="button" class="btn">Custom</button></a>
    </div>
    

</header>


{%endblock%}